def move(my_history, their_history, my_score, their_score):
return 'c'

# Example 1. Always collude
def move(my_hisory, their_history, my_score, their_score):
return 'c'

# Examlpe 2. Collude, then alternate
def move(my_history, their_history, my_score, their_score):
    if len(my_history)%2 == 0:
        return 'c'
    else:
        return

# Example 3. Collude but retaliate
def move(my_history, their_history, my_score, their_score):
    if len(my_history)==0: # It's the first round; collude.
        return 'c'
    elif my_history[-1]=='c' and their_history[-1]=='b':
        return 'b' # Betray if severely punished last time,
    else:
        return 'c' # otherwise collude.
        
Example0:	'cccccccccc'       Score  = -5000
Example1:	'bbbbbbbbbb'       Score  = +1000

team 1 vs. team 0
100 vs. -500
backstabber vs. loyal
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc

# Test 1
    if test_move(my_history='',
                 their_history='',
                 my_score=0,
                 their_score=0,
                 result='b'):
        print 'Test passed'
